/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {

  display: flex;
  justify-content: center;
  align-items: center;
}
.card-containers {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
 margin-top: 20px;
  padding: 6rem 1rem;
  height: 100vh;
  text-align: center;
  border: 1px solid rgb(156, 153, 153);
  margin: 50px 150px 0px 150px;
}

p {
  padding: 1rem;
  font-size: 1.6rem;
}
.home-link{
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
}
.home-link:hover{
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: bold;
}
.button-for-apply p{
  color: rgb(32, 19, 19);
  text-decoration: none;
  font-size: 1.6rem;
  text-align: left;
  margin-top: -30px;
}
.button-for-apply button{
  position: absolute;
  right:200px;
  margin-top:-80px;
  background:hwb(204 35% 3%);
  color: #fff;
  font-size: 5px;
  font-weight: 300;
  padding: 5px 10px;
  border-radius:10px;
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;


}
.button-for-apply button:hover{
  background-color: #fff;
  color: blue;
  border: 1px solid blue;
}
.input-text {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}
.button-search {
  width: 10%;
  background:hwb(204 35% 3%);
  color: white;
  padding: 14px 20px;
  margin: 8px 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: Arial, Helvetica, sans-serif;
}
.button-search:hover {
  background-color: #0a2b86;
}

/* container card css */
.list-all-doc{
  position: relative;
  display:grid;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
  

}
.list-all-doc:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.13);
  transform: translateY(-5px);
  transition: all 0.3s linear;
  background-color: rgb(248, 244, 239);
}
.doc-title{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgb(44, 41, 41);
  width: 100vh;

  letter-spacing: 1px;
  text-indent: -100px;

}
.doc-number{
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.client-name{
  font-size: 14px;
  font-weight: 600;
  color: rgb(16, 56, 109);
  letter-spacing: 1px;
  width: 100vh;
 
}
.client-info{
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(16, 56, 109);
 
}
.date-creation{
  font-size: 14px;
  font-weight: 400;
  color: #333;
  letter-spacing: 1px;
  margin-left: 30px;
}
.phone{
  font-size: 14px;
  font-weight: 400;
  font-weight: 600;
  color: rgb(16, 56, 109);
  margin-left: 30px;
}

.buttons-both{
  display: flex;
  align-items: center;
}
.buttons-both .edit, .details{
  margin-right: 14px;
}

.edit{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 15px;
  margin: 25px 0;
  background:hwb(133 2% 70%);
  transition: all 0.3s linear;
  cursor: pointer;
}
.details-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 15px;
  margin: 25px 0;
  background:hwb(204 35% 3%);
  transition: all 0.3s linear;
  cursor: pointer;
}
.submit{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  max-width: 200px;
  width: 100%;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 15px;
 margin: 25px 0;
  background:hwb(236 3% 25%);
  transition: all 0.3s linear;
  cursor: pointer;
}
.edit:hover{
  background-color: #265df2;
}
.details i{
    margin: 0 6px;
}
.details i{
  transform: rotate(180deg);
}
.buttons-both{
  align-items: center;
}
.buttons-both, .details{
  margin-right: 14px;
}
.details-btn:hover{
  background-color: #265df2;
}
.NApplication{
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 15px;
  margin: 25px 0;
  padding: 4px;
  background:hwb(288 3% 14%);
  transition: all 0.3s linear;
  cursor: pointer;
}