
  .container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  .container > form {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
  }
  pre {
    width: 70%;
    color: #fff;
    font-size: larger;
  }
  
  .btnb {
    background: #0563b4 !important;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: larger;
    cursor: pointer;
    text-align: center;
    text-align: center;   
    width: 100%;  
    height: 50px;  
    margin-top: 20px;

   
  }
  .btnbb {
    background: #080808 !important;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: larger;
    cursor: pointer;
    text-align: center;
    text-align: center;   
    width: 100%;  
    height: 50px;  
    margin-top: 20px;

   
  }
  .btnbb:hover{
    background: rgb(53, 42, 42) !important;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    font-size: larger;
    cursor: pointer;
    text-align: center;
}
    .btnb:hover{
        background: rgb(53, 42, 42) !important;
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: #fff;
        font-size: larger;
        cursor: pointer;
        text-align: center;
    }
  /* p {
    color: red;
  } */
  h1 {
    color: #0563b4;
    font-size: larger;
    text-align: center;
  }