/* ===== Google Font Import - Poppins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.user-containers{
    position: relative;
    /* max-width: 900px;
    width: 900px; */
    padding: 30px;
    border-radius: 10px;
    margin: 30px 15px;
    background-color: #fff;
    box-shadow: 20px 20px 20px 20px rgba(7, 7, 7, 0.1);
}
.user-containers header{
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}
.user-containers header::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 27px;
    border-radius: 8px;
    background-color: #4070f4;
}
.user-containers form{
    position: relative;
    margin-top: 16px;
    min-height:85vh;
    width:900px;
    background-color: #fff;
    overflow: hidden;
}
.user-containers form .forms{
    position: absolute;
    background-color: #fff;
    transition: 0.3s ease;
}

form.secActive .forms.second{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
}
.user-containers form .title{
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}
.user-containers form .field-view{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.input-view{
    position: relative;
    width: 100%;
    margin-bottom: 100px;
}
form .field-view .input-view{
    display: flex;
    width: calc(100% / 4 - 15px);
    flex-direction: column;
    margin: 4px 5px;
}
.label-data{
    font-size: 12px;
    font-weight: 500;
    color: #2e2e2e;
}
.input-view input, select{
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #333;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}
.input-view input :focus,
.input-view select:focus{
    box-shadow: 0 3px 6px rgba(0,0,0,0.13);
}
.input-view select,
.input-view input[type="date"]{
    color: #707070;
}
.input-view input[type="date"]:valid{
    color: #333;
}
.user-containers form button, .backBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background:hwb(204 35% 3%);
    transition: all 0.3s linear;
    cursor: pointer;
    text-decoration: none;
    margin-left: 30px;
}
.sumbit{
    background-color: #971e4c;
}
.user-containers form .btnText{
    font-size: 14px;
    font-weight: 400;
    
}
form button:hover{
    background-color: #265df2;
}
form .backBtn:hover{
    background-color: #265df2;
}
form button i,
form .backBtn i{
    margin: 0 6px;
}
form .backBtn i{
    transform: rotate(180deg);
}
form .buttons{
    display: flex;
    align-items: center;
}
form .buttons button , .backBtn{
    margin-right: 14px;
}
input.input-error,
select.input-error,
select.option
{
    border-color: #f00;
}
button:disabled{
    opacity: 0.35;
}
.label-font{
    font-size: 14px;
    color: #886b6b;
}

@media (max-width: 750px) {
    .user-containers form{
        overflow-y: scroll;
    }
    .user-containers form::-webkit-scrollbar{
       display: none;
    }
    form .field-view .input-view{
        width: calc(100% / 2 - 15px);
    }
}

@media (max-width: 550px) {
    form .field-view .input-view{
        width: 100%;
    }
}
